.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clear {
  clear: both; }

.hidden {
  display: none; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p, span {
  font-family: 'Verdana', 'Geneva', sans-serif; }

h1, h2, h3 {
  font-family: 'Chivo', sans-serif;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase; }

h1 {
  padding: 10% 0.5em;
  font-size: 72px; }

h2 {
  font-size: 72px; }

@media (max-width: 600px) {
  h1 {
    padding: 1em 0.5em;
    font-size: 40px; }
  h2 {
    font-size: 40px; } }

@media (max-width: 400px) {
  h2 {
    font-size: 30px; } }

.wrapper {
  max-width: 960px;
  margin: auto;
  margin-bottom: 40px; }

footer {
  font-size: 75%;
  color: #000; }
  footer a {
    color: red; }
    footer a:hover {
      color: #800; }

button {
  background: red;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 50%;
  display: block;
  color: #FFF;
  margin: auto;
  padding: 3em;
  position: relative;
  top: 0;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer; }
  button:focus {
    outline: none; }
  button.active {
    top: 0.5em; }
    button.active:after {
      bottom: 0;
      height: 0; }
    button.active span {
      bottom: -2.5em; }
  button:after {
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -0.5em;
    height: 2em;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #800;
    z-index: -1; }
  button span {
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    bottom: -3em;
    color: #7a7a7a;
    left: 0; }

footer {
  width: 100%;
  text-align: center;
  padding-bottom: 10px; }

.follow-us {
  font-size: 12px;
  line-height: 18px;
  width: 90%;
  margin: auto;
  max-width: 420px;
  text-align: center; }
  .follow-us p {
    margin-bottom: 20px; }

.logo {
  display: block;
  background: url("../img/logo.svg") no-repeat center center;
  height: 9em;
  width: 18em;
  background-size: 100%;
  margin: 10% auto 2em auto; }
  @media screen and (min-width: 480px) {
    .logo {
      height: 10em;
      width: 25em; } }
  @media screen and (min-width: 643px) {
    .logo {
      height: 12em;
      width: 30em; } }

.social {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
  text-align: center; }

.share-button {
  display: inline-block !important;
  width: auto !important;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center; }

.COINWIDGETCOM_CONTAINER > a.COINWIDGETCOM_BUTTON_DOGECOIN {
  vertical-align: text-bottom;
  height: 22px; }

@media (max-width: 400px) {
  .hits {
    display: none; } }

.hits-mobile {
  text-align: center;
  display: none; }
  @media (max-width: 400px) {
    .hits-mobile {
      margin-top: 50px;
      padding-left: 15px;
      madding-right: 15px;
      font-size: 12px;
      display: block; } }
