p, span{
	font-family: 'Verdana', 'Geneva', sans-serif;
}
h1, h2, h3{
	font-family: 'Chivo', sans-serif;
	text-align: center;
	font-weight: bold; text-transform: uppercase;
}
h1{
	padding: 10% .5em;
	font-size: 72px;
}
h2{
	font-size: 72px;
}

@media (max-width: 600px) {
	h1{
		padding: 1em .5em;
		font-size: 40px;
	}
	h2{
		font-size: 40px;
	}
}
@media (max-width: 400px) {
	h2{
		font-size: 30px;
	}
}
