.social {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
  text-align: center;
}

.share-button {
  display: inline-block !important;
  width: auto !important;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
}

.COINWIDGETCOM_CONTAINER > a.COINWIDGETCOM_BUTTON_DOGECOIN {

  vertical-align: text-bottom;
  height: 22px;
}